<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h1>Login below</h1>
      <form action="http://localhost:3000/login" method="post">
        <div class="form-group">
          <label for="email">Enter your email</label>
          <input type="email" id="email" name="email" class="form-control" />
        </div>

        <div class="form-group">
          <label for="password">Enter Your password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary" id="button">
          Submit
        </button>
      </form>

      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>
