<div class="container">
  <blockquote class="blockquote">
    <p class="mb-0"><%= quote%></p>
  </blockquote>
  <!-- <h3><%= quote%></h3> -->
  <span class="lead">Quote by: <%= author%></span>
</div>
