<div class="container">
  <h1>Welcome to IZI OMOZIKU's Library</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Book Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Date</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody class="my-table-body"></tbody>
  </table>
</div>
